<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blackout Activity</title>
    <link rel="icon" href="/images/fav.ico" type="image/x-icon"/>
    <script data-main="/js/blackout/main.js" src="/js/require.js"></script>
    <link rel='stylesheet prefetch'
          href='/webjars/salesforce-lightning-design-system/2.5.2/styles/salesforce-lightning-design-system.min.css'/>
    <style>
    </style>
</head>
<body>


<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div class="slds-shrink-none">
        <div class="slds-page-header">
            Blackout Activity
            <!--<button class="slds-button slds-button_icon" id="saveBtn"-->
                    <!--aria-pressed="false" title="Edit">-->
                <!--<svg class="slds-button__icon slds-icon-text-default" aria-hidden="true">-->
                    <!--<use xmlns:xlink="http://www.w3.org/1999/xlink"-->
                         <!--xlink:href="/styles/slds/icons/action-sprite/svg/symbols.svg#edit"></use>-->
                <!--</svg>-->
                <!--<span class="slds-assistive-text">Save</span>-->
            <!--</button>-->
        </div>
    </div>

    <!--<input type="hidden" id="numSteps" th:value="${numSteps}">-->

    <form id="genericActivity">
        <!-- Stage Main -->
        <div id="step1"
             class="step slds-grid slds-wrap slds-container--medium slds-container--center slds-order-1 slds-medium-order--2 slds-p-vertical--large">

            <div class="slds-col--padded slds-col-rule--right slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--8-of-12 slds-p-bottom--x-large">
                <article class="slds-text-longform">
                    <h2 class="slds-text-heading--large">Configuration</h2>

                    <div class="slds-form slds-form_stacked">

                        <div class="slds-form-element slds-m-bottom_large">
                            <div class="slds-box">
                                <h2 class="slds-text-heading--label">Notes</h2>
                                <div>Required fields:</div>
                                <div>Holiday DE: NAME, START_DATE, END_DATE</div>
                                <div>Journey DE: SF_ID, END_DATE</div>
                            </div>
                        </div>
                        <br/>
                        <div class="slds-form-element slds-m-bottom_small">
                            <label class="slds-form-element__label" for="source_de">Select Holiday Data Extension</label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" id="source_de">
                                        <option value="0">Select Data Extension</option>
                                        <option th:each="de : ${data_extensions}" th:value="${de.Key}"
                                                th:text="${de.Name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="destination_de">Select Journey Data Extension</label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" id="destination_de">
                                        <option value="0">Select Data Extension</option>
                                        <option th:each="de : ${data_extensions}" th:value="${de.Key}"
                                                th:text="${de.Name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                </article>
            </div>

        </div>

    </form>
</section>

<!--<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script>-->

<!--</script>-->
</body>
</html>