<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blackout custom activity</title>
    <link rel="icon" href="/images/fav.ico" type="image/x-icon"/>
    <script data-main="/js/blackout/modalMain.js" src="/js/require.js"></script>
    <link rel='stylesheet prefetch'
          href='/webjars/salesforce-lightning-design-system/2.5.2/styles/salesforce-lightning-design-system.min.css'/>
    <style>
    </style>
</head>
<body>
<div class="slds-shrink-none">
    <div class="slds-page-header"><h2 class="slds-text-heading--label">Blackout custom activity</h2></div>
    <div class="slds-box">
        <div class="slds-grid slds-wrap slds-container--medium slds-container--center slds-order-1 slds-medium-order--2 slds-p-vertical--none">
            <div class="slds-col--padded slds-col-rule--right slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--8-of-12 slds-p-bottom--medium">
                <article class="slds-text-longform">
                    <ul class="slds-list_dotted">
                        <li th:if="${holiday == null}">
                            No holiday now!
                        </li>
                    </ul>

                    <div th:each="instance : ${holiday?.columns}">
                        <div th:text="${#strings.toUpperCase(instance?.key)}">key</div>
                        <div th:text="${instance?.value}">value</div>
                    </div>

                    <!--<p th:remove="${holiday == null}? all:none">-->
                    <!--<p>Name: <span th:text="${holiday?.Columns?['key']}">Sebastian</span></p>-->
                    <!--<p>Start: <span th:text="*{holiday?.Columns?['StartDate']}">Pepper</span></p>-->
                    <!--<p>End: <span th:text="*{holiday?.Columns?['EndDate']}">Saturn</span></p>-->
                    <!--</p>-->
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>