<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header-css">

    <link rel="icon" href="/images/fav.ico" type="image/x-icon"/>
    <link rel='stylesheet'
          href='/webjars/salesforce-lightning-design-system/2.5.2/styles/salesforce-lightning-design-system.min.css'>
<body>
<div th:fragment="header">


    <div class="slds-context-bar" onclick="close()">
        <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
            <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
                <!--<div class="slds-global-header__logo">-->
                <!--<a href="/" title="Home">-->
                <!--<img src="/styles/slds/images/logo-noname.svg?width=128&height=128" alt="" height="128">-->
                <!--</a>-->
                <!--</div>-->
                <div class="slds-global-header__logo"
                     style="width:48px;background-image: url('/styles/slds/images/logo-noname.svg?width=128&height=128')"></div>
                <span class="slds-context-bar__label-action slds-context-bar__app-name">
                     <div class="slds-truncate slds-m-left_medium">
                        SFMC Examples
                    </div>
      </span>
            </div>
        </div>
        <nav class="slds-context-bar__secondary" role="navigation">
            <ul class="slds-grid">
                <!--HOME-->
                <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                    <a href="/" class="slds-context-bar__label-action" title="Home">
                        <span class="slds-truncate" title="Home">Home</span>
                    </a>
                </li>
                <!--API-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="/api" class="slds-context-bar__label-action" title="Demo">
                        <span class="slds-truncate" title="Menu Item">API</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Index-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Getting Started</span>
                                </a>
                            </li>
                            <!--SDK-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/sdk" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="SDK">SDK</span>
                                </a>
                            </li>
                            <!--REST-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/rest" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="REST API">REST API</span>
                                </a>
                            </li>
                            <!--SOAP-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/soap" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="SOAP API">SOAP API</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Scripting languages-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="/scripts" class="slds-context-bar__label-action" title="Scripts">
                        <span class="slds-truncate" title="Menu Item">Scripts</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/scripts/ampscript" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="AMPscript">AMPscript</span>
                                </a>
                            </li>
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/scripts/ssjs" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="SSJS">Server-Side JavaScript</span>
                                </a>
                            </li>
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/scripts/gtl" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="GTL">Guide Template Language</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--CUSTOM ACTIVITY-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="/ca" class="slds-context-bar__label-action" title="Custom Activity">
                        <span class="slds-truncate" title="Menu Item">Custom Activity</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Index-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/index" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Getting Started</span>
                                </a>
                            </li>
                            <!--Setup-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/setup" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Setup Activity</span>
                                </a>
                            </li>
                            <!--List of configurations-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/list" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Saved configurations">Saved configurations</span>
                                </a>
                            </li>
                            <!--create configuration-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/create" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Create configuration">Create configuration</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--TOOLS-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="/tools" class="slds-context-bar__label-action" title="Tools">
                        <span class="slds-truncate" title="Menu Item">Tools</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Item One-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/tools/" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item One">Index</span>
                                </a>
                            </li>
                            <!--Item Two-->
                            <!--<li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">-->
                            <!--<a href="/tools" role="menuitem" tabindex="-1">-->
                            <!--<span class="slds-truncate" title="Menu Item Two">Bootstrap</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </li>
                <!--DEMO DESIGN-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="/demo" class="slds-context-bar__label-action" title="Demo">
                        <span class="slds-truncate" title="Menu Item">Demo</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/demo/lightning" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="SLDS">Lighting Design System</span>
                                </a>
                            </li>
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/demo/bootstrap" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Bootstrap">Bootstrap</span>
                                </a>
                            </li>
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/demo/greeting?name=Guest" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item Two">Greeting</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                    <a href="/about" class="slds-context-bar__label-action" title="Menu Item 0">
                        <span class="slds-truncate" title="Menu Item">About</span>
                    </a>
                </li>

            </ul>
        </nav>

        <ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">

            <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small">
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Sign in</a>
                </div>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small">

                <div id="userIcon" sec:authorize="isAuthenticated()">
                    <button id="userButton" class="slds-button" title="person name" aria-haspopup="true">
                        <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                            <img id="userAvatar" alt="Person name" src="/styles/slds/images/avatar1.jpg"
                                 title="User avatar"/>
                        </span>
                    </button>
                    <!--Profile Card-->
                    <section id="userMenu" class="slds-popover slds-nubbin_top-right slds-dynamic-menu slds-hide"
                             role="dialog"
                             aria-label="My Favourites" aria-describedby="dialog-body-id-2"
                             style="position: absolute; left: -280px; top: 50px;">
                        <div class="slds-popover__body slds-p-horizontal_none slds-m-around_x-small"
                             id="dialog-body-id-2">
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                                        <img alt="Person name" src="/styles/slds/images/avatar1.jpg"
                                             title="User avatar"/>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <h2 class="slds-text -title_caps slds-m-bottom_x-small" role="presentation">
                                        <span sec:authentication="name"/>
                                    </h2>
                                    <p class="slds-m-bottom_x-small">
                                        <span sec:authentication="name"/>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <footer class="slds-popover__footer">
                            <p>
                            <span sec:authorize="hasAuthority('ADMIN')">
                                <a id="userFooterAdmin" th:href="@{/admin}" class="slds-m-right_small">Admin</a>
                            </span>
                            <a id="userFooterSettings" th:href="@{/user/settings}" class="slds-m-right_small">Settings</a>
                            <a id="userFooterLogout" th:href="@{/logout}">Logout</a>
                            </p>
                        </footer>
                    </section>

                </div>
            </li>
        </ul>

    </div>

</div>

</body>
</html>