<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header-css">

    <link rel="icon" href="/images/fav.ico" type="image/x-icon"/>

    <!-- this is header-css -->
    <link rel='stylesheet prefetch'
          href='/styles/slds/styles/salesforce-lightning-design-system.min.css'/>
</head>
<body>
<div th:fragment="header">


    <div class="slds-context-bar">
        <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
            <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
                <div class="slds-global-header__logo">
                    <img src="/styles/slds/images/logo-noname.svg" alt="">
                </div>
                <span class="slds-context-bar__label-action slds-context-bar__app-name">
                     <div class="slds-truncate slds-m-left_medium">
                        SFMC Examples
                    </div>
      </span>
            </div>
        </div>
        <nav class="slds-context-bar__secondary" role="navigation">
            <ul class="slds-grid">
                <!--HOME-->
                <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                    <a href="/" class="slds-context-bar__label-action" title="Home">
                        <span class="slds-truncate" title="Home">Home</span>
                    </a>
                </li>
                <!--API-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Demo">
                        <span class="slds-truncate" title="Menu Item">API</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Index-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/index" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Getting Started</span>
                                </a>
                            </li>
                            <!--Item One-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/rest" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item One">REST API</span>
                                </a>
                            </li>
                            <!--Item Two-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/api/soap" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item Two">SOAP API</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--CUSTOM ACTIVITY-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Custom Activity">
                        <span class="slds-truncate" title="Menu Item">Custom Activity</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Index-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/index" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Getting Started</span>
                                </a>
                            </li>
                            <!--Setup-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/setup" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Getting Started">Setup Activity</span>
                                </a>
                            </li>
                            <!--List of configurations-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/list" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Saved configurations">Saved configurations</span>
                                </a>
                            </li>
                            <!--Create configuration-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/ca/create" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Create configuration">Create configuration</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--DEMO DESIGN-->
                <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
                    <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Demo">
                        <span class="slds-truncate" title="Menu Item">Demo</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                        <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                aria-haspopup="true" title="Open submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open submenu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                        <ul class="slds-dropdown__list" role="menu">
                            <!--Item One-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/demo/lightning" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item One">Lighting Design System </span>
                                </a>
                            </li>
                            <!--Item Two-->
                            <li class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
                                <a href="/demo/bootstrap" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item Two">Bootstrap</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                    <a href="/about" class="slds-context-bar__label-action" title="Menu Item 0">
                        <span class="slds-truncate" title="Menu Item">About</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>

</div>
</body>
</html>