<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AMPscript</title>
    <div th:replace="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div th:replace="fragments/header :: header">.</div>
    <div class="slds-shrink-none">
        <div class="slds-page-header"><h2 class="slds-text-heading--medium">AMPscript</h2></div>
    </div>

    <div class="slds-box">
        <h3 class="slds-text-heading--medium slds-m-around_small slds-m-top_none">Links:</h3>
        <ul class="slds-list_dotted">
            <li>
                <a class=".slds-text-link_faux"
                   href="https://developer.salesforce.com/docs/atlas.en-us.mc-programmatic-content.meta/mc-programmatic-content/getStarted-AMPscript.htm">Get Started with AMPscript</a>
            </li>
            <li>
                <p><a class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.mc-programmatic-content.meta/mc-programmatic-content/syntaxGuide.htm">AMPscript Syntax Guide</a></p>
            </li>
            <li>
                <p><a class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.mc-programmatic-content.meta/mc-programmatic-content/functions.htm">AMPscript Function Reference</a></p>
            </li>
            <li>
                <p><a class=".slds-text-link_faux"
                      href="/scripts/ampscript">AMPscript Examples</a></p>
            </li>
            <li>
                <p><a class=".slds-text-link_faux"
                      href="/scripts/ampscript/create">Add AMPscript Example</a></p>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</section>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
</script>

</body>
</html>