<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404</title>
    <div th:replace="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div th:replace="fragments/header :: header">.</div>
    <div class="slds-align_absolute-center">
        <img src="/images/404.png" alt="" width="70%">
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</section>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
</script>

</body>
</html>