<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create config</title>
    <link rel="icon" href="/images/fav.ico" type="image/x-icon"/>

    <link rel='stylesheet prefetch'
          href='/styles/slds/styles/salesforce-lightning-design-system.min.css'/>
    <style>
    </style>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div class="slds-shrink-none">
        <div class="slds-page-header">Salesforce Marketing Cloud Examples</div>
    </div>

    <form action="#" th:action="@{/ca/create}" th:object="${config}" method="post">
        <!-- Stage Main -->
        <div id="step1"
             class="step slds-grid slds-wrap slds-container--medium slds-container--center slds-order-1 slds-medium-order--2 slds-p-vertical--large">
            <div class="slds-col--padded slds-col-rule--right slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--8-of-12 slds-p-bottom--x-large">

                <h2 class="slds-text-heading--large">Create config</h2>
                <br class="slds-text-longform">

                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <input type="hidden" id="input-00" th:field="*{Id}">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Key</label>
                                    <input type="text" id="input-01" th:field="*{Key}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('Id')}"
                                         th:errors="*{Key}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">EndpointUrl</label>
                                    <input type="text" id="input-02" th:field="*{EndpointUrl}" class="slds-input" placeholder="https://">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EndpointUrl')}"
                                         th:errors="*{EndpointUrl}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Type</label>
                                    <div class="slds-select_container">
                                        <select class="slds-select" id="select-01" th:field="*{Type}">
                                            <option th:value="REST">REST</option>
                                            <option th:value="RESTDECISION">RESTDECISION</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__label slds-text-title_caps">General</legend>
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Name</label>
                                    <input type="text" id="input-03" th:field="*{Name}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EndpointUrl')}"
                                         th:errors="*{Name}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Description</label>
                                    <input type="text" id="input-04" th:field="*{Description}" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">SmallImageUrl</label>
                                    <input type="text" id="input-05" th:field="*{SmallImageUrl}" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">BigImageUrl</label>
                                    <input type="text" id="input-06" th:field="*{BigImageUrl}" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">NumSteps</label>
                                    <input type="text" id="input-07" th:field="*{NumSteps}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('NumSteps')}"
                                         th:errors="*{NumSteps}">Name Error
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__label slds-text-title_caps">User Interface</legend>
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">EditUrl</label>
                                    <input type="text" id="input-08" th:field="*{EditUrl}" class="slds-input" placeholder="https://">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditUrl')}"
                                         th:errors="*{EditUrl}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" for="input-01">Height</label>
                                    <input type="text" id="input-09" th:field="*{EditHeight}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditHeight')}"
                                         th:errors="*{EditHeight}">Name Error
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" for="input-02">Width</label>
                                    <input type="text" id="input-10" th:field="*{EditWidth}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditWidth')}"
                                         th:errors="*{EditWidth}">Name Error
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="slds-form-element">
                    <br>
                    <div class="slds-button-group" role="group">
                        <button class="slds-button slds-button_brand">Submit</button>
                        <button class="slds-button slds-button_destructive">Cancel</button>
                    </div>
                </div>

                </article>
            </div>

            <div class="slds-col--padded slds-size--1-of-1 slds-small-size--1-of-2 slds-m-bottom--large">
                <div class="slds-box">
                    <h2 class="slds-text-heading--label">Notes:</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quasi deleniti laborum nobis sed
                        assumenda itaque optio unde eius corporis, repellat ea ducimus magni, quos fugit, nihil error
                        quis
                        tempora.</p>
                </div>

            </div>

        </div>

    </form>
</section>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>