<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create config</title>
    <div th:replace="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div th:replace="fragments/header :: header">.</div>

    <form action="#" th:action="@{/ca/create}" th:object="${config}" method="post" name="config">
        <!-- Stage Main -->
        <div id="step1"
             class="step slds-grid slds-wrap slds-container--medium slds-container--center slds-order-1 slds-medium-order--2 slds-p-vertical--large">
            <div class="slds-col--padded slds-col-rule--right slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--8-of-12 slds-p-bottom--x-large">

                <div class="slds-grid">
                    <div>
                        <h2 class="slds-text-heading--medium slds-m-bottom_medium">Create config</h2>
                    </div>
                    <div class="slds-col slds-m-left_small slds-text-align_right">
                        <a class="slds-icon_container slds-icon-custom-custom5 slds-icon_small slds-text-align_right"
                           href="/ca/list" title="Create">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#list"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                        </a>
                    </div>
                </div>

                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <input type="hidden" id="input-00" th:field="*{Id}">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Key - Must match your
                                        activity key as defined when created in App Center.</label>
                                    <input type="text" id="input-01" th:field="*{Key}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('Id')}"
                                         th:errors="*{Key}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">EndpointUrl - Endpoint used
                                        to execute the journey.</label>
                                    <input type="text" id="input-02" th:field="*{EndpointUrl}" class="slds-input"
                                           placeholder="https://">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EndpointUrl')}"
                                         th:errors="*{EndpointUrl}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Type - String property
                                        representing the type of activity. This value must include one of the Marketing
                                        Cloud-provided types.</label>
                                    <div class="slds-select_container">
                                        <select class="slds-select" id="select-01" th:field="*{Type}">
                                            <option th:value="REST">REST</option>
                                            <option th:value="RESTDECISION">RESTDECISION</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__label slds-text-title_caps">General</legend>
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Name - Type of activity (i.e.
                                        'Send Email', 'SMS', 'Create Salesforce Lead'), as shown in the activity
                                        list.</label>
                                    <input type="text" id="input-03" th:field="*{Name}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EndpointUrl')}"
                                         th:errors="*{Name}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Description - Description of
                                        what the activity does and what purpose it fulfills.</label>
                                    <input type="text" id="input-04" th:field="*{Description}" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Small Icon(15px) - String
                                        representing the small display icon for this activity.</label>
                                    <input type="text" id="input-05" th:field="*{SmallImageUrl}" class="slds-input"
                                           placeholder="https://">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">Icon(40px) - String
                                        representing the icon for this activity.</label>
                                    <input type="text" id="input-06" th:field="*{BigImageUrl}" class="slds-input"
                                           placeholder="https://">
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">NumSteps - Number of wizard
                                        steps that the user may navigate through when configuring the custom
                                        activity.</label>
                                    <input type="text" id="input-07" th:field="*{NumSteps}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('NumSteps')}"
                                         th:errors="*{NumSteps}">Name Error
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__label slds-text-title_caps">User Interface</legend>
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-1">
                                    <label class="slds-form-element__label" for="input-03">EditUrl - Endpoint for the UI
                                        displayed to marketers while configuring this activity.</label>
                                    <input type="text" id="input-08" th:field="*{EditUrl}" class="slds-input"
                                           placeholder="https://">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditUrl')}"
                                         th:errors="*{EditUrl}">Name Error
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" for="input-01">Height - Property that
                                        defines the height of the iframe containing the configuration UI.</label>
                                    <input type="text" id="input-09" th:field="*{EditHeight}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditHeight')}"
                                         th:errors="*{EditHeight}">Name Error
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" for="input-02">Width - Property that defines
                                        the width of the iframe containing the configuration UI.</label>
                                    <input type="text" id="input-10" th:field="*{EditWidth}" class="slds-input">
                                    <div class="slds-text-color_error" th:if="${#fields.hasErrors('EditWidth')}"
                                         th:errors="*{EditWidth}">Name Error
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="slds-form-element">
                    <br>
                    <div class="slds-button-group" role="group">
                        <button class="slds-button slds-button_brand" name="action" value="save">Submit</button>
                        <button class="slds-button slds-button_destructive" name="action" value="cancel">Cancel</button>
                    </div>
                </div>

                </article>
            </div>

            <div class="slds-col--padded slds-size--1-of-1 slds-small-size--1-of-2 slds-m-bottom--large">
                <div class="slds-box">
                    <h2 class="slds-text-heading--label">Notes:</h2>
                    <p>https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/creating-activities.htm</p>
                </div>

            </div>

        </div>

    </form>
</section>
<div th:replace="fragments/footer :: footer"/>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>