<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started</title>
    <div th:replace="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div th:replace="fragments/header :: header">.</div>

    <div class="slds-m-around_small">
        <div>
            <h2 class="slds-text-heading--medium slds-m-bottom_medium">Getting Started With Custom Activity</h2>
        </div>
    </div>

    <div class="slds-box">
        <h3 class="slds-text-heading--medium slds-m-around_small slds-m-top_none">Official Documentation:</h3>
        <ul class="slds-list_dotted">
            <li>
                <a target="_blank" class=".slds-text-link_faux"
                   href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/create-a-mc-app.htm">Create
                    a Marketing Cloud App</a>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/creating-activities.htm">Create
                    Custom Activity</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/extending-activities.htm">Custom
                    Split Activity</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/using-postmonger.htm">Postmonger
                    Events</a></p>
            </li>
        </ul>
        <h3 class="slds-text-heading--medium slds-m-around_small">Forums:</h3>
        <ul class="slds-list_dotted">
            <li>
                <a target="_blank" class=".slds-text-link_faux"
                   href="https://salesforce.stackexchange.com/questions/179671/how-to-create-a-custom-activity-for-journey-builder">How
                    to create a custom activity for journey builder?</a>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux" href="">Link</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux" href="">Link</a></p>
            </li>
        </ul>
        <h3 class="slds-text-heading--medium slds-m-around_small">Examples:</h3>
        <ul class="slds-list_dotted">
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://github.com/DemosAndTrials/sfmc-examples">Custom activity and api examples</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-app-development.meta/mc-app-development/example-rest-activity.htm">Example REST Activity</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux" href="https://github.com/anthony1993/JBActivities">Journey
                    Builder Custom Activities</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://github.com/mslabina/sfmc-servicecloud-customsplit">Custom Split Activity</a></p>
            </li>
            <li>
                <p><a target="_blank" class=".slds-text-link_faux"
                      href="https://github.com/kevinparkerson/postmonger">Postmonger on Github</a></p>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</section>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
</script>

</body>
</html>