<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List config</title>

     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

    <div th:replace="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

<section class="stage slds-grid slds-grid--vertical slds-nowrap">

    <div th:replace="fragments/header :: header">.</div>

    <!-- Stage Main -->
    <div class="slds-m-around_small">
        <div class="slds-grid">
            <div>
                <h2 class="slds-text-heading--medium slds-m-bottom_medium">List of saved configs</h2>
            </div>
            <div class="slds-col slds-m-left_small">
                <a class="slds-icon_container slds-icon-custom-custom5 slds-icon_small slds-text-align_right"
                   href="/ca/create" title="Create">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#new"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                </a>
            </div>
        </div>


        <table class="slds-table slds-table_bordered slds-table_striped">
            <thead>
            <tr class="slds-text-title_caps">
                <th scope="col" class="">
                    <div class="slds-truncate" title="Id">Id</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Id">Icon</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Name">Name</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Description">Description</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Description">Type</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="KEy">Key</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Number of steps">Number of steps</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="EditUrl">Edit Url</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="EditUrl">json</div>
                </th>
                <th scope="col" class="">
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="config : ${configs}">
                <th scope="row" data-label="Id" class="">
                    <div class="slds-truncate" title="Id"><a th:href="@{'/ca/create/' + ${config.Id}}"
                                                             th:text="${config.Id}">Id</a></div>
                </th>
                <td data-label="Name" class="">
                    <div class="slds-truncate" title="Icon">
                    <span class="slds-icon_container slds-icon-custom-custom9" title="Description of icon when needed">
                         <image th:src="${config.BigImageUrl}"></image>
                         <span class="slds-assistive-text">Description of icon</span>
                    </span>
                    </div>
                </td>
                <td data-label="Name" class="">
                    <div class="slds-truncate" title="Name"><a th:href="@{'/ca/create/' + ${config.Id}}"
                                                               th:text="${config.Name}">Activity Name</a></div>
                </td>
                <td data-label="Description" class="">
                    <div class="slds-truncate" th:text="${config.Description}">Description</div>
                </td>
                <td data-label="Description" class="">
                    <div class="slds-truncate" th:text="${config.Type}">Type</div>
                </td>
                <td data-label="Key" class="">
                    <div class="slds-truncate" th:text="${config.Key}">Key</div>
                </td>
                <td data-label="NumSteps" class="">
                    <div class="slds-truncate" th:text="${config.Steps.size()}">1</div>
                </td>
                <td data-label="EditUrl" class="">
                    <div class="slds-truncate" title="Name"><a th:href="${config.EditUrl}" target="_blank">Open</a>
                    </div>
                </td>
                <td data-label="EditUrl" class="">
                    <div class="slds-truncate" title="Name">
                        <a th:id="@{'jsonBtn_' + ${config.Id}}" href="#" th:name="${config.Id}">View</a>
                    </div>
                </td>
                <td data-label="Delete" class="">
                    <!--  <form action="#" th:action="@{'/ca/delete/' + ${config.Id}}" th:object="${config}" method="post">-->
                    <button th:id="@{'deleteBtn_' + ${config.Id}}" th:name="${config.Id}"
                            class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-error"
                            aria-pressed="false" title="Delete">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#delete"></use>
                        </svg>
                        <span class="slds-assistive-text">Delete</span>
                    </button>
                    <!--  </form>-->
                </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</section>

<div name="delete-modal">
    <section id="modalDelete" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
             aria-describedby="modal-content-id-1" class="slds-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                        onclick="closeModal()">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirmation</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>Are you sure?</p>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeModal()">Cancel</button>
                <button id="deleteBtnConfirm" class="slds-button slds-button_destructive">Delete</button>
            </footer>
        </div>
    </section>
    <div id="backdropDelete" class="slds-backdrop"></div>
</div>

<div class="json-modal">
    <section id="modalJson" role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id"
             aria-describedby="prompt-message-wrapper" class="slds-modal slds-modal_prompt slds-modal_large">
        <div class="slds-modal__container">
            <header class="slds-modal__header slds-theme_info slds-theme_alert-texture">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                        onclick="closeModal()">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/styles/slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 class="slds-text-heading_medium" id="prompt-heading-id">json.config preview</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium">
                <pre>
                    <code id="modalContentJson" class="json">

                    </code>
                </pre>
            </div>
            <footer class="slds-modal__footer slds-theme_default">
                <button class="slds-button slds-button_neutral" onclick="closeModal()">Okay</button>
            </footer>
        </div>
    </section>
    <div id="backdropJson" class="slds-backdrop"></div>
</div>

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/go.min.js"></script>
<!--<script>hljs.initHighlightingOnLoad();</script>-->

<script type="text/javascript">
    j$ = jQuery.noConflict();
    var selectedId;

    //Modal Open
    j$('[id^=deleteBtn_]').click(function () {
        j$('#backdropDelete').addClass('slds-backdrop_open');
        j$('#modalDelete').addClass('slds-fade-in-open');
        selectedId = j$(this).attr('name');
    });
    j$('[id^=jsonBtn_]').click(function () {
        selectedId = j$(this).attr('name');
        // TODO bring json here
        j$.post("/ca/" + selectedId + "/config.json", function (data) {
            // insert json
            j$("#modalContentJson").html(JSON.stringify(data, null, '\t'));
            // highlight json
            j$('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
        // show modal
        j$('#backdropJson').addClass('slds-backdrop_open');
        j$('#modalJson').addClass('slds-fade-in-open');

    });

    //Modal Close
    function closeModal() {
        j$('#modalDelete').removeClass('slds-fade-in-open');
        j$('#backdropDelete').removeClass('slds-backdrop_open');
        j$('#backdropJson').removeClass('slds-backdrop_open');
        j$('#modalJson').removeClass('slds-fade-in-open');
    }

    //Modal Confirm
    j$('#deleteBtnConfirm').click(function () {
        j$('#modalDelete').removeClass('slds-fade-in-open');
        j$('#backdropDelete').removeClass('slds-backdrop_open');
        deleteConfig(selectedId);
    });

    // post to controller
    function deleteConfig(id) {
        console.log("delete config: ", id);
        j$.post("/ca/delete/" + id);
    }
</script>

</body>
</html>